<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="{{ asset('style.css') }}">
            <title>Article-title</title>
        </head>
        <body>
            <header class="header">
                <h1>Bienvenue dans la liste des articles</h1>
            </header>
            <main>