{% extends 'base.html.twig'%}
{% block header %}
    <h1>hello Article Show</h1>
{% endblock header %}
{% block main %}
    <article>
        <h1></h1>
    </article>
    <h1>{{ article.title }}</h1>
{% endblock main %}
{% block footer %}
<h1>GoodBye Article Show</h1>
{% endblock footer %}
